.footer-container {
    font-size: 0.85em;
    border-top: 1px solid grey;
    margin-bottom: 1.45rem;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: none;
    padding-top: 20px;
}

.social-links-container {
    width: 160px;
    display: flex;
    justify-content: space-between;
}
