.hero-text-container {
    background-image: url('../images/hero-image.jpg');
    background-color: #002627;
    background-size: cover;
    display: flex;
    height: 550px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-title h2 {
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4.3em;
}

.hero-subtitle h3 {
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    text-align: center;
}

.top-item {
    margin-top: -55px;
}

.bottom-item {
    margin-top: -10px;
}
